@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/Montserrat-Medium.ttf');
}

@import 'tailwindcss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@theme {
  --font-montserrat: 'Montserrat', 'sans-serif';
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
}

@plugin "daisyui" {
  themes: synthwave --default;
}
