:host {
  display: block;
}

div {
  width: 100vw;
  height: calc(100vh - 64px);
  background-color: lightgray;
}

#controls {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
  width: 250px;
}
