<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of this.countries(); track $index; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSVG" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>
        <td>
          <a [routerLink]="['/country/by', country.cca2]" class="link-primary cursor-pointer">
            More info
          </a>
        </td>
      </tr>
      }

      <!-- ------------------- -->

      @if(this.errorMessage()) {
      <tr>
        <td colspan="7">
          <h3 class="text-center text-danger">{{ this.errorMessage() }}</h3>
        </td>
      </tr>
      }

      <!-- ------------------- -->

      @if(this.isEmpty() && !this.isLoading()) {
      <tr>
        <td colspan="7">
          <h3 class="text-center">No countries found</h3>
        </td>
      </tr>
      }

      <!-- ------------------- -->

      @if (this.isLoading()) {
      <tr>
        <td colspan="7">
          <p class="text-center">Loading...</p>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
